# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
ENV/

# Environment variables
.env
*.env

# Qdrant persistence directory
qdrant_data/

# test file
test.py

# model checkpoints (too large for a commit)
results